/* Fill me in :) */
html, body, div, #app, #app>div, #root {
  height: 100%;
  background-color:#6bbDA9;
}
canvas {
  height:100% !important;
  z-index:0;
}
button#trowel {
  z-index:1;
  position: absolute;
  bottom:0;
}

.button-drag-inactive {
  z-index:1;
  position: absolute;
  bottom:40%;
  right:20px;
  transform: rotate(180deg);
  transform-origin:center;
  background: url(../../assets/shovel-clean.svg) no-repeat;
  background-size:contain;
  width:120px;
  height:100px;
}
.button-drag-inactive:hover{
  transform-origin:center;
  transform: rotate(225deg);
}
.button-drag-active{
  z-index:1;
  position: absolute;
  bottom:40%;
  right:15px;
  transform: rotate(225deg) ;
  transform-origin:center;
  width:120px;
  height:100px;
  background: url(../../assets/shovel-dirty.svg) no-repeat;
  background-size:contain;
  width:160px;
}

.button-water-inactive{
  z-index:1;
  position: absolute;
  bottom:4px;
  right:20px;
  background: url(../../assets/glass-empty.svg) no-repeat;
  width:100px;
  background-size:contain;
  height:190px;
  border: none;
  outline:none;
}
.button-water-inactive:hover{
  background: url(../../assets/glass-drop.svg) no-repeat;
}
.button-water-active {
  z-index:1;
  position: absolute;
  bottom:0px;
  right:20px;
  background: url(../../assets/glass-empty.svg) no-repeat;
  width:100px;
  background-size:contain;
  height:190px;
  border: none;
  outline:none;
  background: url(../../assets/glass-half-full.svg) no-repeat;
}