.glass{
  min-width:160px;
  min-height:300px;
    z-index:5;
}
.button-water{
  position:absolute;
  display:block;
  background-size:contain;
  background-repeat:no-repeat;
  border: none;
  outline:none;
  width:160px;
  height:300px;
}
.button-water-inactive{
  /* position: absolute;
  bottom:4px;
  right:20px; */
  background-image: url(../../assets/glass-empty.svg);
}
.button-water-inactive:hover{
  background-image: url(../../assets/glass-drop.svg);
}
.button-water-active {
  /* position: absolute;
  bottom:0px;
  right:20px; */
  background-image: url(../../assets/glass-half-full.svg);
}
